@font-face {
  font-family: "Source Sans Pro";
  src: url(./fonts/SOURCESANSPRO-REGULAR.woff);
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/ROBOTO-REGULAR.woff);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(./fonts/ROBOTO-BOLD.woff);
}
@font-face {
  font-family: "Apple SD Gothic";
  src: url(./fonts/AppleSDGothicNeoR.woff);
}
@font-face {
  font-family: "Apple SD Gothic Bold";
  src: url(./fonts/AppleSDGothicNeoB.woff);
}
@font-face {
  font-family: "Apple SD Gothic Extra Bold";
  src: url(./fonts/AppleSDGothicNeoEB.woff);
}
@font-face {
  font-family: "Apple SD Gothic Medium";
  src: url(./fonts/AppleSDGothicNeoM.woff);
}
